/* Esquema de cores */
@import "./theme.css";

.header-main {
    background-color: var(--background-purple-inicial-color);
    color: var(--text-light-color);
    position: relative;
}


.header-main .container {padding: 0 5%}

.header-main-container {
    display: flex;
    height: 90vh;
    align-items: center;
}
.text-header-main-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.text-header-main-container > div{text-align: center; width: 100%;margin: 0;}

.welcome h1 {font-size: 2.6em; margin-bottom: 15px;}

.development-today-container > div{
    max-width: 1000px;
    padding: 10px 0;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 25px;
    background-color: rgba(255, 255, 255,.15);
    max-width: 600px;
    margin: auto auto 20% auto
}

.arrow-down {color: #fff; width: 70px; height: 35px; padding-top: 0px;}

.ondas-header {position: absolute; bottom: 0; left: 0; width: 100%;}

/*Ideas section*/
section.ideas-section > .container{
    
}

section.ideas-section .container > div > header {
    margin-bottom: 70px;
}
section.ideas-section .skills-container{
    
}
section.ideas-section .skills-container > div{
    margin-right: 6%;
}
section.ideas-section .skills-container > div > img {
    width: 70px;
}

section.ideas-section > .container > div:nth-child(2) {
    position: relative
}
section.ideas-section .squares {
    display: block;
    width: 125px;
    height: 125px;
    background-color: var(--background-square);
    position: absolute;
}
section.ideas-section .squares:nth-child(1) {
    top: 10px;
    right: 25%;
}
section.ideas-section .squares:nth-child(2) {
    top: 250px;
    left: 15%;
    transform: rotate(35deg);
}
section.ideas-section .squares:nth-child(3) {
    top: 450px;
    right: 0%;
    transform: rotate(45deg);
}
section.ideas-section .squares:nth-child(3) {}
@media only screen and (max-width: 900px) {
    section.ideas-section > .container > div:nth-child(2){
        display: none
    }

    section.ideas-section .skills-container > div{
        margin-right: 0%;
        text-align: center;
        margin-bottom: 10%
    }
}

/* SOP */
.sop {background-image: url(../assets/images/images/background-sop.jpg);}

.sop .dog-image-container img{ max-width: 65%; display: block; margin: auto;}

.sop > .divide-em-dois-pai{min-height: 60vh; align-items: center;}
.card {
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.81); 
    box-shadow: 0px 0px 26px 8px rgba(153,153,153,0.75);
    padding: 40px 40px;
    background: linear-gradient(155deg, rgba(255, 255, 255, .7) 10%,rgba(255, 255, 255, .1) , rgba(255, 255, 255, .1));
    max-width: 300px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255,.1);
    backdrop-filter: blur(4px);
}
.card  p{color: var(--text-light-color);}
.button-container-sop {
    display: flex;
    justify-content: center;
}
.sop a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.button-sop {
    border: 2px solid #fff;
    border-radius: 25px;
    padding: .3rem 1rem;
    margin-top: 2rem;
}
.sop a:hover .button-sop{
    transition: 0.5s;
    background-color: #fff;
    box-shadow: 0px 0px 26px 2px var(--text-light-color);
}
.sop a:hover{
    text-decoration: none;
    color: var(--text-color);
    
}