:root {
    --text-color: #7A7979;
    --text-light-color: #fff;
    --purple-title-color: #7F31E5;
    --background-light-color: #F8F9FA;
    --background-purple-inicial-color: #BB76E2;
    --background-purple-final-color: #A775E4;
    --background-square: #ECEFEF;
    --background-color-circles: #936AC5;

    
}
