:root {
    --text-color-black: #18120F;
    --text-color-brown: #45312B;
    --text-color-dark-gray: #5D5E60;
    --text-color-light-gray: #959fA8;
    --primary-dark-bg: #26292B;
    --secundary-dark-bg: #2E3239
}